{% extends "base.html" %}
{% block navbar %}
  <a class="nav-item nav-link active" id="newsample" href="/">New sample</a>
  <a class="nav-item nav-link " id="samplelist" href="/samplelist">Sample list</a>
  <a class="nav-item nav-link " id="dashboard" href="/dashboard">Dashboard</a>
{% endblock %}
{% block style %}
  .progress {
      display: block;
      width: 80%;
      margin: 0 auto;
      border: 1px solid #cdc7c2;
      background-image: none;
      -webkit-appearance: none;
  }
  .timer {
    display: block;
    font-size: 4rem;
    text-align: center;
    margin-bottom: .75rem;
  }
  h2 {text-align: center;}
{% endblock %}
{% block content %}
<br />
<div class="card border-dark">
  <div class="card-body text-dark">
    <h2>Time Until Next Analysis</h2>
    <span class="timer" id="timer">{{ time_left }}</span>
    <progress max={{ time_max }} value={{ time_left }} class="progress progress--set" id="progressBar"></progress>
  </div>
</div>
<br />
<div class="pull-left">
    <a type="Next" class="btn btn-primary" href="/newsample_wipe">Stop Analysis</a>
</div>

<script type="application/javascript">
function twodigit(number) {
  var twodigitnumber = "";
  if (number < 10 && number >= 0) {
    twodigitnumber = "0" + number;
  } else {
    twodigitnumber = number
  }
  return twodigitnumber
}

const timerElement = document.getElementById("timer");
const progressBar = document.getElementById("progressBar")

var timerCounter = progressBar.value;
const interval = setInterval(() => {
  if (timerCounter === 0) {
    window.location.href = "/scanfile";
    clearInterval(interval);
  }

  timerCounter = timerCounter - 1;
  var min = Math.trunc(timerCounter / 60);
  var sec = Math.trunc(timerCounter % 60);
  var a = twodigit(min);
  var b = twodigit(sec);
  timerElement.innerText = a + ":" + b;
  progressBar.value = timerCounter;
}, 1000);
</script>

{% endblock %}
